.container{
    width: 100%;
    height: 100vh;
    background-color:grey;
    display: flex;
    align-items: center;
    justify-content: center;

}
.calculator{
    background:#3a4452;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border:0;
    outline: 0;   
    width: 60px;
    height:60px ;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgb(255,255,255,0.1) ,5px 5px 15px rgb(0,0,0,0.2);  
    background-color: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

form input.equal{
    width: 150px;
}
 .calculator form input.display{
    width: 300px;
    box-shadow: none;
    text-align: right;

 }
form input.operator{

color:#33ffd8 ;
}